@import "../../node_modules/bootstrap/bootstrap.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 1em;
}

header {
  margin-top: 20px;
  margin-bottom: 100px;

  .title {
    width: min-content;
    margin: 50px auto;

    h1 {
      font-size: 3em;
      font-weight: 900;
      letter-spacing: 0.5em;
    }

    h3 {
      text-align: right;
      margin-right: 0.8em;
    }
  }

  li {
    display: inline-block;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.3em;
    }

    &:first-child::after {
      content: "";
      display: inline-block;
      width: 40px;
    }
  }
}

.pages * {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.pages {
  margin-bottom: 100px;
}

/*About*/
.about {
  text-align: left;
  margin-top: 300px;
}

.card {
  position: relative;

  .image {
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .description {
    position: absolute;
    top: 200px;
    left: 200px;
    overflow: visible;

    h2, h3 {
      width: max-content;
    }

    h3 {
      text-transform: none;
    }
  }
}

.align-right {
  .description {
    top: 50px;
    left: -100px;
  }

  .image {
    width: 600px;
  }
}
@media (max-width: 768px){
  .card-container {
    justify-content: center !important;
    margin: 0 !important;

    .image {
      width: 400px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .description {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%);
    }
  }

  .about {
    margin-top: 0;
  }
}

/*Finder*/
.finder {
  width: 541px;
  margin: 0 auto;
}

.wrapper {
  text-align: center;
}

.grid {
  border: 1px solid #fff;
}

.field {
  border: 1px solid #fff;
  height: 54px;

  &.enabled {
    background: rgba(0, 255, 128, 0.5);
  }

  &.checked{
    background: orange;
  }

  &.route {
    background: blue;
  }

  &.start-finish {
    background: red;
  }
}

.alert {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

.button {
  background: orange;
  color: #fff;
  margin: 50px auto;
}

/* Summary */
.summary {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  margin-top: -20px;
  position: fixed;

  .popup {
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    width: 600px;
    height: 300px;
    margin: auto;

    #img-close {
      position: relative;
      width: 50px;
      height: 50px;
      left: 100%;
      transform: translateX(-100%);

      &:hover {
        background: #aaa;
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h1, .content {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      text-align: left;
    }
  }
}

footer {
  text-transform: none;
}