*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightblue;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.pages * {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.pages {
  margin-bottom: 100px;
}

.page {
  display: none;
}

.active {
  display: block;
}

/*About*/
.image {
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.description {
  position: absolute;
}

/*Finder*/
.finder {
  width: 541px;
  margin: 0 auto;
}

.grid {
  border: 1px solid #fff;
}

.field {
  border: 1px solid #fff;
  height: 54px;

  &.enabled {
    background: rgba(0, 255, 128, 0.5);
  }

  &.checked{
    background: orange;
  }
}

.header {
  height: 80px;
}

.alert {
  display: none;
  color: red;
  font-size: 1.5em;
}